@media screen and (max-width:1400px){
   #profile{
    height: 83vh;
    margin-bottom: 6rem;
   }
   .about-containers{
    flex-wrap: wrap;
   }
}


@media screen and (max-width:1200px){
    #desktop-nav{
        display: none;
    }
    #hamburger-nav{
        display: flex;

    }
}
 
 #experience
 {
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.experience-details-container{
    margin-top: 2rem;
}

/* #profile{
    display: block;
} 

.section-container{
    display:block;
}  */

.arrow{
    display:flex;
    
}
section,.section-container{
    height: fit-content;
}
section{
    margin: 0 5%;
}
.section__pic-container{
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
}
.about-containers{
    margin-top: 0;
}

@media screen and (max-width: 992px) {
    /* Tablet and smaller laptops */
    #profile {
        flex-direction: column;
        height: auto;
        margin-bottom: 4rem;
        gap: 1rem;
    }
    .section__pic-container {
        width: 80vw;
        height: auto;
    }
    .section__text {
        text-align: center;
        padding: 0 1rem;
    }
    nav, .nav-links {
        font-size: 1.2rem;
    }
}


@media screen and (max-width:600px){

#contact,footer{
    height: 40vh;
}
#profile{
    height: auto;
    margin-bottom: 0;
    flex-direction: column;
    gap: 1rem;
}
article{
    font-size: 2rem;
}
footer nav{
    height: fit-content;
    margin-bottom: 2rem;
}
.about-containers,.contact-info-upper-container,.btn-container{
    flex-wrap: wrap;
}
.contact-info-container{
    margin: 0;
}
.contact-info-container p,.nav-links li a{
    font-size: 1rem;
}
.experience-sub-title{
    font-size: 1.25rem;

}
.logo{
    font-size: 1.5rem;
}
.nav-links{
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
}
.section__pic-container{
    width: auto;
    height: 46vh;
    justify-content: center;
}
.section__text__p2{
    font-size: 1.25rem;
}
.title{
    font-size: 2rem;
}
.text-container{
    text-align: justify;
}
#desktop-nav {
        display: none;
    }
    #hamburger-nav {
        display: flex;
    }
    section {
        margin: 1rem;
        padding-top: 2vh;
    }
    .btn-container {
        flex-direction: column;
        gap: 0.5rem;
        width: 100%;
    }
    .btn {
        width: 100%;
    }
    .project-img {
        width: 100%;
        height: auto;
    }

} 